<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

	<div class="banner">
		<p class="bttn_offset" ></p>
		<a class="bttn" href="/join">Join Us</a>
		<!--<img class="featureimg" src="{{ 'assets/home-feature.jpg' | relative_url }}" />-->
	</div>
	<div class="banner2">
	<p></p>
	</div>
	
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
